@font-face {
  font-family: 'GT Eesti Text';
  font-style: normal;
  font-weight: 400;
  src: local('GT Eesti Bold'), local('GT Eesti Text'), url('../font/GT-Eesti-Text-Bold-2.woff2') format('woff2'), url('../font/GT-Eesti-Text-Bold-2.woff') format('woff');
}

@font-face {
  font-family: 'GT Sectra Book';
  font-style: normal;
  font-weight: 400;
  src: local('GT Sectra Book'), url('../font/GT-Sectra-Book.woff2') format('woff2'), url('../font/GT-Sectra-Book.woff') format('woff');
}
